<div class="container-fluid">
  <h2>Log-in</h2>
  <form name="loginForm">

    <div class="formGroup">
      <label>Username</label>
      <input type="text" formControlName="userName" class="formControl" >
    </div>

    <div class="formGroup">
      <label>Password</label>
      <input type="password" formControlName="password" class="formControl">
    </div>


  </form>
</div>
<button type="button" class="btn btn-primary">Login</button>
<button type="button" class="btn btn-link">Register here</button>
